---
image: docker:latest
services:
  - docker:dind

stages:
  - build
  - test
  - release
  - deploy

variables:
  DOCKER_DRIVER: overlay
  MUMBLE_VERSION: 1.2.18
  TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
  TAG_IMAGE: $CI_REGISTRY_IMAGE:$MUMBLE_VERSION
  RELEASE_IMAGE: $CI_REGISTRY_IMAGE:latest

before_script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

build-image:
  stage: build
  script:
    - docker build --pull --build-arg MUMBLE_VERSION=$MUMBLE_VERSION -t $TEST_IMAGE .
    - docker push $TEST_IMAGE

test-image:
  stage: test
  script:
    - docker run -d --name murmur $TEST_IMAGE
    - docker inspect --format="{{ .State.Running }}" murmur || exit 1

release-image:
  stage: release
  script:
    - docker pull $TEST_IMAGE
    - docker tag $TEST_IMAGE $RELEASE_IMAGE
    - docker tag $TEST_IMAGE $TAG_IMAGE
    - docker push $CI_REGISTRY_IMAGE
  only:
    - master
    - tags

deploy:
  stage: deploy
  script:
    - echo "TODO make deploy script"
  only:
    - master
    - tags
